/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2835";  // For Raspberry Pi or relevant SoC

    fragment@0 {
        target-path = "/"; // create new overlay at root of the device tree
        __overlay__ {
            touch_sensor_unified: touch_sensor_unified {
                compatible = "touch_sensor";  // Your sensor's compatible string
                gpios = <&gpio 4 0>;
                status = "okay";
            };
        };
    };

    __overrides__ {
        gpio_pin = <&touch_sensor_unified>,"gpios:4";  // why does "gpios:4" work.. shouldn't it be "gpios:0"?
    };

};

// !!! TODO NOT WORKING => can't load this twice with diff pin numbers... maybe that is not even a thing you are supposed to be able to do?